.mshob{
    width: 100%;
    background-color: blue;
    height: 100%;
;
}
.a{
    width: 20%;
    background-color: white;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pannel1{
    display: flex;
    height: 12vh;
    justify-content: center;
}
html{
    height: 30%;
}
body{
    height: 30vh;
    margin: 0;
}